@page "/ApplyLoan"

@using DataAccess
@inject IJSRuntime js
@using BlazorApp3.Models

@inject IMySQLDataAccess _data
@inject IConfiguration _config


<h1 class="text-center font-weight-bold text-danger">Welcome To My Bank</h1>
<h3 class="text-center">Application for for Loan</h3>


<EditForm class="row g-3" Model="@loanApplication" OnValidSubmit="@InsertLoanApplication">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="col-md-6">
        <label for="inputname" class="form-label">Full Name</label>
        <input type="text" class="form-control"  @bind-value = "loanApplication.FullName" id="fullname">
    </div>
    <div class="col-md-6">
        <label for="inputfname" class="form-label">Fathers Name</label>
        <input type="text" class="form-control" @bind-value="loanApplication.FatherName" id="Father's Name">
    </div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" @bind-value="loanApplication.Email" id="inputEmail4">
    </div>
    <div class="col-md-6">
        <label for="inputbranch" class="form-label">BranchCode</label>
        <input type="text" class="form-control" @bind-value="loanApplication.BranchCode" id="brnachcode">
    </div>

    <div class="col-md-6">
        <label for="phone" class="form-label">Phone No.</label>
        <input type="tel" class="form-control" id="phonenumber" @bind-value="loanApplication.PhoneNo" >
    </div>

    <div class="col-md-6">
        <label for="aadhar" class="form-label">Aadhar Number</label>
        <input type="number" class="form-control" @bind-value="loanApplication.AadharNo" id="aadharnumber">
    </div>

    <div class="col-md-6">
        <label for="LoanAmount" class="form-label">Loan Amount</label>
        <input type="number" class="form-control" @bind-value="loanApplication.LoanAmount" id="LoanAmount">
    </div>

    <div class="col-12">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="inputAddress" @bind-value="loanApplication.Address" placeholder="Address">
    </div>
    <div class="col-md-6">
        <label for="inputCity" class="form-label">City</label>
        <input type="text" class="form-control" @bind-value="loanApplication.City" id="inputCity">
    </div>

    <div class="col-md-2">
        <label for="inputZip" class="form-label">Zip</label>
        <input type="text" class="form-control" @bind-value="loanApplication.Pincode" id="inputZip">
    </div>
    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                agree to terms and conditions
            </label>
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary" @onclick="()=>SuccessEvent()">Apply</button>
    </div>
</EditForm>



@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; }
    List<LoanId> loanId;

    private void NavigateToOtherPage()
    {
        NavigationManager.NavigateTo("/applicationsubmit");
    }
    private LoanApplication loanApplication = new LoanApplication();
    private async Task InsertLoanApplication()
    {
        LoanApplication a = new LoanApplication
            {
                FullName = loanApplication.FullName,
                FatherName = loanApplication.FatherName,
                Email = loanApplication.Email,
                BranchCode = loanApplication.BranchCode,
                PhoneNo=loanApplication.PhoneNo,
                AadharNo=loanApplication.AadharNo,
                LoanAmount=loanApplication.LoanAmount,
                Address = loanApplication.Address,
                City = loanApplication.Address,
                Pincode = loanApplication.Pincode
            }; 

        string sql = "insert into loan_sys.Allapplication (Fullname,FatherName,Email,BranchCode,PhoneNo,AadharNo,LoanAmount,Address,City,PinCode) values (@FullName, @FatherName ,@Email, @BranchCode ,@PhoneNo , @AadharNo, @LoanAmount, @Address, @City ,@Pincode);";
        await _data.SaveData(sql, a, _config.GetConnectionString("MySqlConnection"));

        sql = "select max(Id) as Id from loan_sys.allapplication;";
        loanId = await _data.LoadData<LoanId, dynamic>(sql, new { },
        _config.GetConnectionString("MySQLConnection"));

        int check = loanId[0].Id;
        sql = "insert into loan_sys.app (Id) values (@check)";
        await _data.SaveData(sql, new {check = check}, _config.GetConnectionString("MySqlConnection"));

        //sql = "insert into application (Fullname,FatherName,Email,BranchCode,PhoneNo,AadharNo,LoanAmount,Address,City,PinCode) values (@FullName, @FatherName ,@Email, @BranchCode ,@PhoneNo , @AadharNo, @LoanAmount, @Address, @City ,@Pincode);";
        //await _data.SaveData(sql, a, _config.GetConnectionString("MySqlConnection"));

       
        a = new LoanApplication();
        loanApplication = new LoanApplication();
    }

    public void SuccessEvent()
    {
        Console.WriteLine(2);
        js.InvokeAsync<string>("showAlertSuccess");
    }
}
